/* primeira dobra */
body {
    background-color: black;
    text-align: center;
}

.gradiente {
    font-size: 30px;
    display: inline-block;
    background-image: linear-gradient(to bottom, #000080, #6959CD);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    font-family: 'Audiowide';
}

.texto1 {
    color: white;
    font-size: 19px;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: bolder;
}

.botao1 {
    font-size: 18px;
    margin: 20px 0;
    background-color: transparent;
    margin-inline: 50px;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.botao1:hover {
    background-color: rgb(40, 154, 182);
}

.banner-content {
    background-image: url('assets/images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 235, 0.2);
}

/* segunda dobra*/

.texto2 {
    color: rgb(40, 154, 182);
    font-size: 30px;
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 4px;
}

.texto3 {
    color: white;
    font-size: 15px;
    font-family: 'Arial';
    text-align: center;
    font-weight: bolder;
}

.textomod1{
    color:rgb(40, 154, 182);
    font-family: 'Arial';
    font-weight: bolder;
}

.textomod2{
    color:rgb(40, 154, 182);
    font-family: 'Arial';
    font-weight: bolder;
}

.textomod3{
    color:rgb(40, 154, 182);
    font-family: 'Arial';
    font-weight: bolder;
}

.modules-list {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.module1 {
    font-size: 18px;
    color: white;
    font-family: 'Arial';
    background-color: rgba(65, 65, 65, 0.6);
    background-size: 20% 100%;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
    display: block;
    border:2px solid rgb(40, 154, 182);
    border-radius: 10px;
    max-width: 500px;
}

.module2 {
    font-size: 18px;
    color: white;
    font-family: 'Arial';
    background-color: rgba(65, 65, 65, 0.6);
    background-size: 20% 100%;
    padding: 20px;
    margin: 10px 0;
    display: block;
    border:2px solid rgb(40, 154, 182);
    border-radius: 10px;
    max-width: 500px;
    margin-left: 20px;
}

.module3 {
    font-size: 18px;
    color: white;
    font-family: 'Arial';
    background-color: rgba(65, 65, 65, 0.6);
    background-size: 20% 100%;
    padding: 20px;
    margin: 10px 0;
    display: block;
    border:2px solid rgb(40, 154, 182);
    border-radius: 10px;
    max-width: 500px;
    margin-left: 20px;
}

/*terceira dobra*/

.transform {
    background-image: url('assets/images/woman-code.png');
    background-size: cover;
    background-color: rgba(0, 0, 235, 0.2);
    background-position: 50% 100%;
    width: 1340px;
    height: 500px;
}

.transforme{
    color: white;
    text-transform: lowercase;
    font-size: 50px;
    float: left;
    clear: left;
    width: 30%;
    margin-top: 180px;
    margin-left: 40px;
    font-weight: bolder;
    font-family: 'Arial';
    text-shadow: 3px 3px 4px rgba(5, 118, 153, 1.0);
    }

/*quarta dobra*/

.textoultimo {
    color:rgb(40, 154, 182);
    text-transform: uppercase;
    font-family: 'Arial';
    margin-top: 20px 0;
    font-size: 30px;
}

.juntese {
    color: white;
    font-family: 'Arial';
    margin-top: 20px;
}

.final {
    color: white;
    font-family: 'Arial';
    font-weight: bold;
}

.bgdfinal {
    background-image: linear-gradient(to bottom, black, rgba(40, 154, 182, 0.5));
}